<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name = "connection"
		providerName="System.Data.Sqlite"
		connectionString ="Data Source= C:/Users/Marifer/Documents/Residencia/Residencia/DIFMUNICIPAL.db;Version=3"
        
     />
	</connectionStrings>
	<startup>

	</startup>
</configuration>